# Extract MoBiAS PDF reports

The PDF reports are a great source of additional information as they contain data for peaks that may not have been assigned to any known product.
Mining these reports is much faster than reprocessing of the raw LCMS data.

Here, we are in particular interested to identify
1. leftover starting materials
2. systematic side products that we have not been previously looking for

In [1]:
import sys
import pathlib
import re
from datetime import datetime

sys.path.insert(0, str(pathlib.Path().resolve().parents[1]))

from pypdf import PdfReader
import pandas as pd
import numpy as np

from src.util.db_utils import SynFermDatabaseConnection
from src.definitions import DATA_DIR, PLATE_LIST_PATH
from src.util.rdkit_util import smiles_to_lcms_mass

## Extract PDF data

In [2]:
con = SynFermDatabaseConnection()

In [3]:
def import_lcms_full_report(path):
    # set up pdf reader
    reader = PdfReader(path)
    number_of_pages = len(reader.pages)
    lines = []
    found_data = False
    # iterate from second page until entire peak summary table is read completely
    for i in range(1, number_of_pages):
        page = reader.pages[i]
        text = page.extract_text()
        line_list = text.splitlines()
        if (line_list[0] != '# RT [min] Area I S/N Max. m/z FWHM [min] Area % Int. %') and found_data:  # stop when not encountering another data header
            break
        else:
            found_data = True
        lines += line_list
    
    if len(lines) == 0:
        raise RuntimeError("No data extracted")
        
    # remove spaces in header
    cleaned_lines = ['# RT[min] Area I S/N max_m/z FWHM[min] Area% Int%',]
    # remove footers and data headers on not-first page
    cleaned_lines += [line for line in lines if line[0].isnumeric()] 

    # split the lines into individual fields
    data = [line.split() for line in cleaned_lines]
    
    # assemble DataFrame from data
    df = pd.DataFrame(data[1:], columns=data[0]).astype("float")

    return df

In [ ]:
%%capture output
# import the plate list to obtain LCMS identifier - plate_nr relation
plate_list = pd.read_csv(PLATE_LIST_PATH)
# we will record any files that cause exceptions for manual inspection
files_with_exceptions = []

# iterate over all experiments/plates
for exp_nr in range(1, 30):
    for plate_nr in range(1, 7):
        # print progress indicator
        now = datetime.now()
        print(f"exp {exp_nr}-{plate_nr}, started {now.strftime('%H:%M:%S')}")
 
        
        lcms_id = plate_list.loc[(plate_list["exp_nr"] == exp_nr) & (plate_list["plate_nr"] == plate_nr), "results_file_name"].item().split("_")[0]
        exp_path = DATA_DIR / "pdf_reports" / lcms_id
        full_report_paths = list(exp_path.glob("*_LCMS_Fullreport.pdf"))
        
        for path in full_report_paths:
            try:
                # get well from filename
                regex = r'_P\d{1}-[A-Z]-\d{1,2}_'
                match = re.search(regex, path.name)
                well = "".join(match.group().strip("_").split("-")[1:])
                reaction_id = con.get_reaction_id((exp_nr, plate_nr, well))
                df = import_lcms_full_report(path)
                # we persist this to the database for re-use
                # first reformat df to fit DB
                df.insert(0, "reaction_id", reaction_id)
                df.insert(2, "retention_time_s", (df["RT[min]"] * 60).astype("int"))
                df = df.drop(columns="RT[min]")
                df = df.rename(columns={"#": "peak_number", 
                           "Area": "area", 
                           "I": "intensity",
                           "S/N": "signal_to_noise",
                           "max_m/z": "mz_max",
                           "FWHM[min]": "fwhm_min", 
                           "Area%": "%area",
                           "Int%": "%intensity"
                          }).astype({"peak_number": "int",
                                     "area": "int",
                                     "intensity": "int"})
                # write all extracted peaks to DB
                with con.con:
                    con.con.executemany(
                        'INSERT INTO lcms_peaks (experiment_id, peak_nr, retention_time_s, area, intensity, signal_to_noise, mz_max, fwhm_min, "%area", "%intensity") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);', 
                        [tuple(row) for row in df.to_numpy()]
                    )
            except Exception as e:
                print(f"Something went wrong for {str(path)}")
                files_with_exceptions.append(path)
                print(e)

In [6]:
print(output)

exp 1-1, started 16:08:03
exp 1-2, started 16:08:21
exp 1-3, started 16:08:38
exp 1-4, started 16:08:55
exp 1-5, started 16:09:14
exp 1-6, started 16:09:33
exp 2-1, started 16:09:59
exp 2-2, started 16:10:17
exp 2-3, started 16:10:35
exp 2-4, started 16:10:53
exp 2-5, started 16:11:11
exp 2-6, started 16:11:31
exp 3-1, started 16:11:50
exp 3-2, started 16:12:08
exp 3-3, started 16:12:26
exp 3-4, started 16:12:45
exp 3-5, started 16:13:04
exp 3-6, started 16:13:22
exp 4-1, started 16:13:42
exp 4-2, started 16:13:59
exp 4-3, started 16:14:17
exp 4-4, started 16:14:35
exp 4-5, started 16:14:52
exp 4-6, started 16:15:10
exp 5-1, started 16:15:29
exp 5-2, started 16:15:48
exp 5-3, started 16:16:07
exp 5-4, started 16:16:26
exp 5-5, started 16:16:45
exp 5-6, started 16:17:04
exp 6-1, started 16:17:23
exp 6-2, started 16:17:41
exp 6-3, started 16:17:58
exp 6-4, started 16:18:17
exp 6-5, started 16:18:34
exp 6-6, started 16:18:53
exp 7-1, started 16:19:10
exp 7-2, started 16:19:26
exp 7-3, started 16:19:43
exp 7-4, started 16:20:00
exp 7-5, started 16:20:18
exp 7-6, started 16:20:36
exp 8-1, started 16:20:54
exp 8-2, started 16:21:12
exp 8-3, started 16:21:30
exp 8-4, started 16:21:48
exp 8-5, started 16:22:07
exp 8-6, started 16:22:26
exp 9-1, started 16:22:45
exp 9-2, started 16:23:03
exp 9-3, started 16:23:20
exp 9-4, started 16:23:38
exp 9-5, started 16:23:56
exp 9-6, started 16:24:14
exp 10-1, started 16:24:33
exp 10-2, started 16:24:51
exp 10-3, started 16:25:08
exp 10-4, started 16:25:26
exp 10-5, started 16:25:45
exp 10-6, started 16:26:03
exp 11-1, started 16:26:22
exp 11-2, started 16:26:40
exp 11-3, started 16:26:58
exp 11-4, started 16:27:16
exp 11-5, started 16:27:34
exp 11-6, started 16:27:52
exp 12-1, started 16:28:10
exp 12-2, started 16:28:28
exp 12-3, started 16:28:45
exp 12-4, started 16:29:04
exp 12-5, started 16:29:22
exp 12-6, started 16:29:40
exp 13-1, started 16:29:58
exp 13-2, started 16:30:17
exp 13-3, started 16:30:33
exp 13-4, started 16:30:50
exp 13-5, started 16:31:06
exp 13-6, started 16:31:25
exp 14-1, started 16:31:43
exp 14-2, started 16:32:01
exp 14-3, started 16:32:18
exp 14-4, started 16:32:36
exp 14-5, started 16:32:53
exp 14-6, started 16:33:11
exp 15-1, started 16:33:27
exp 15-2, started 16:33:44
exp 15-3, started 16:34:01
exp 15-4, started 16:34:18
exp 15-5, started 16:34:36
exp 15-6, started 16:34:53
exp 16-1, started 16:35:10
exp 16-2, started 16:35:29
exp 16-3, started 16:35:46
exp 16-4, started 16:36:04
exp 16-5, started 16:36:22
exp 16-6, started 16:36:40
exp 17-1, started 16:37:00
exp 17-2, started 16:37:18
exp 17-3, started 16:37:36
exp 17-4, started 16:37:54
exp 17-5, started 16:38:15
exp 17-6, started 16:38:33
exp 18-1, started 16:38:53
exp 18-2, started 16:39:14
exp 18-3, started 16:39:33
exp 18-4, started 16:39:52
exp 18-5, started 16:40:10
exp 18-6, started 16:40:30
exp 19-1, started 16:40:50
exp 19-2, started 16:41:11
exp 19-3, started 16:41:31
exp 19-4, started 16:41:51
exp 19-5, started 16:42:17
exp 19-6, started 16:42:36
exp 20-1, started 16:42:56
exp 20-2, started 16:43:16
exp 20-3, started 16:43:35
exp 20-4, started 16:43:53
exp 20-5, started 16:44:12
exp 20-6, started 16:44:31
exp 21-1, started 16:44:49
exp 21-2, started 16:45:07
exp 21-3, started 16:45:26
exp 21-4, started 16:45:44
exp 21-5, started 16:46:03
exp 21-6, started 16:46:20
exp 22-1, started 16:46:37
exp 22-2, started 16:46:56
exp 22-3, started 16:47:14
exp 22-4, started 16:47:35
exp 22-5, started 16:47:55
exp 22-6, started 16:48:13
exp 23-1, started 16:48:32
exp 23-2, started 16:48:49
exp 23-3, started 16:49:06
exp 23-4, started 16:49:24
exp 23-5, started 16:49:43
exp 23-6, started 16:50:02
exp 24-1, started 16:50:21
exp 24-2, started 16:50:40
exp 24-3, started 16:50:58
exp 24-4, started 16:51:16
exp 24-5, started 16:51:34
exp 24-6, started 16:51:53
exp 25-1, started 16:52:25
exp 25-2, started 16:52:55
exp 25-3, started 16:53:26
exp 25-4, started 16:53:57
exp 25-5, started 16:54:30
exp 25-6, started 16:55:01
exp 26-1, started 16:55:31
exp 26-2, started 16:56:02
exp 26-3, started 16:56:30
exp 26-4, started 16:57:00
exp 26-5, started 16:57:30
exp 26-6, started 16:58:02
exp 27-1, started 16:58:31
exp 27-2, started 16:59:01
exp 27-3, started 16:59:28
exp 27-4, started 16:59:57
exp 27-5, started 17:00:26
exp 27-6, started 17:00:55
exp 28-1, started 17:01:29
exp 28-2, started 17:02:00
exp 28-3, started 17:02:28
exp 28-4, started 17:02:57
exp 28-5, started 17:03:28
exp 28-6, started 17:03:58
exp 29-1, started 17:04:37
exp 29-2, started 17:05:20
exp 29-3, started 17:05:57
exp 29-4, started 17:06:26
exp 29-5, started 17:07:00
exp 29-6, started 17:07:31

In [6]:
# now which of these are unexpected / not already explained?
mz_dmso = [79.0212, 101.0032, 157.0351]  # M+H+, M+Na+ 2M+H+
mz_lock = [142.1590, 322.0481]  # tetramethylpiperidine, hexamethoxyphosphazene
mz_is = 361.1201  # fenofibrate

known_product_smiles = con.get_product_smiles((exp_nr, plate_nr), "A3")
known_product_mzs = [smiles_to_lcms_mass(smi) for smi in known_product_smiles]

known_mzs = mz_dmso + mz_lock + [mz_is] + known_product_mzs

In [7]:
unexplained_peaks = df.loc[((df["Area%"] > 5)  # only significant peaks
        & ~np.isclose(df["max_m/z"].to_numpy()[:, None], known_mzs, rtol=5e-6, atol=0).any(axis=1)  # only peaks that are not already explained
       ), 
    ]
unexplained_peaks

,RT[min],Area,I,S/N,max_m/z,FWHM[min],Area%,Int%
#,,,,,,,,
9,2.156,2.589547e+05,62241.0,17.8,146.1175,0.059,5.39209,3.71
12,2.903,6.490781e+05,146339.0,42.1,365.1712,0.081,13.51545,8.73
16,3.000,1.114304e+06,440712.0,130.7,365.1709,0.038,23.20264,26.28
17,3.395,2.613391e+06,1012323.0,306.9,332.0521,0.037,54.41742,60.36
22,3.592,1.006776e+06,445752.0,132.9,459.1523,0.034,20.96362,26.58
25,3.730,8.154621e+05,335406.0,100.8,505.1579,0.037,16.97999,20.00
36,5.032,4.152705e+05,143717.0,1209.5,250.9768,0.043,8.64698,8.57
37,5.033,3.906193e+05,139087.0,41.9,250.9768,0.043,8.13368,8.29

## Identify starting material peaks

In [9]:
sms = con.get_starting_materials_for_reaction((exp_nr, plate_nr, "K7"))
sms

['O=C(c1ccc(C2=NCCO2)cc1)[B-](F)(F)F.[K+]',
 'CC(C)C[C@H]1C[C@]2(O[NH2+]1)OC1(CCCCC1)OC2=O.[Cl-]',
 '[Cl-].[NH3+]NC(=S)c1cccs1']

In [12]:
smiles_to_lcms_mass(sms[2])

159.00451664409

In [13]:
unexplained_peaks.columns

Index(['RT[min]', 'Area', 'I', 'S/N', 'max_m/z', 'FWHM[min]', 'Area%', 'Int%'], dtype='object')